 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F7FA;
  padding: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

  /* -------++++ Main Section ++++-------  */
 .main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
 }

  /* ------- Main Content -------  */
.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}
.about {
  margin-bottom: 40px;
}
.about-title {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
}

.name-title {
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 24px;
}

.about-description {
  width: 400px;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.title {
  font-size: 22px;
  line-height: 27px; 
  margin-bottom: 10px;
}

.projects li {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project, .project-link  {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-bold {
  font-weight: bold;
  color: #000000;
}

  /* -------  Sidebar  ------- */
.sidebar{
  background-color: #1E2939;
  width: 370px;
  color: #FFFFFF;
  padding-top: 40px;
}
.sidebar img {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar-lists {
  padding-left: 40px;
}
.sidebar-title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
}
.sidebar ul {
  list-style: none;
  padding-left: 18px;
}

.sidebar li, .contacts-list {
  font-size: 14px;
  line-height: 24px;
}
.sidebar li::before {
  content: "•";  
  color: #FB6D3A; 
  font-weight: bold; 
  display: inline-block; 
  width: 20px; 
  margin-left: -16px; 
}
.contacts {
  margin-bottom: 48px;
}
.contacts span {
  margin-right: 12px;
}
.contacts a {
  color: #FFFFFF;
  opacity: 50%;
}
.contacts a:hover {
  color: #4dafd6;
  opacity: 100%;
}
.contacts p:first-child a {
  text-decoration: none;
}
.skills{
  margin-bottom: 44px;
}




